<section class="section-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="valign-wrapper">
                <div class="col m3 s12 valign logo">
                    <% link_to '/' do %>
                      <img src="/images/logo-ganarlamuela-horizontal.svg" onerror="this.onerror=null; this.src='/images/logo-ganarlamuela-horizontal.png'">
                    <% end %>
                </div>
                <div class="col m9 s12 valign right text">
                    <p><strong>GANAR La Muela</strong> es una coalición electoral entre IU y miembros del Círculo Podemos de La Muela</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- end section-footer -->