@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/* line 9, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
html {
  font-family: "Open Sans", sans-serif !important; }

/* line 12, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
p {
  font-size: 1.1rem;
  line-height: 1.8rem; }
  /* line 15, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  p strong {
    font-weight: 700; }

/* line 20, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
h3 small {
  font-size: 0.5em; }

/* line 24, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.btn {
  background-color: #BD0926 !important; }

/* line 27, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
a.collection-item {
  color: #BD0926 !important; }
  /* line 29, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  a.collection-item:hover {
    background-color: rgba(96, 125, 139, 0.05) !important; }

/* line 35, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.responsive-img {
  width: 100%; }

/* line 38, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.list {
  padding-left: 3rem; }
  /* line 40, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .list.u-list li {
    list-style: disc;
    margin-bottom: 0.4rem; }

/* line 45, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.panel {
  border: 1px solid #BD0926;
  background-color: rgba(189, 9, 38, 0.05);
  padding: 0 1rem; }

/* line 54, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.hero .responsive-img,
.claim-section .responsive-img {
  width: 100%; }

/* line 58, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.hero {
  padding: 0; }

/* line 62, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.nav-bar .nav {
  background: rgba(255, 255, 255, 0.9); }
  /* line 64, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .nav-bar .nav .top-nav a {
    font-weight: 300;
    color: #607d8b;
    text-transform: capitalize;
    transition: background 0.4s; }
    /* line 69, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
    .nav-bar .nav .top-nav a:hover {
      background: #BD0926;
      color: white;
      opacity: 0.9; }
    /* line 74, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
    .nav-bar .nav .top-nav a.icon {
      text-indent: -99999px;
      background-color: none !important; }
    /* line 78, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
    .nav-bar .nav .top-nav a.facebook {
      background: url(../images/icon-24-facebook.png) center no-repeat; }
/* line 83, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.nav-bar .brand-logo {
  padding-top: 0.7%; }
  /* line 85, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .nav-bar .brand-logo:hover {
    opacity: 0.8; }

/* line 90, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.page-footer {
  margin-top: -1.7rem !important; }
  /* line 92, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .page-footer a, .page-footer p, .page-footer small {
    color: #607d8b;
    font-size: 0.9rem; }
  /* line 96, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .page-footer small {
    font-size: 0.7rem; }
  /* line 99, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .page-footer .footer-nav {
    text-transform: capitalize; }
    /* line 101, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
    .page-footer .footer-nav a {
      transition: color 0.4s; }
      /* line 103, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
      .page-footer .footer-nav a:hover {
        color: rgba(255, 255, 255, 0.7); }
    /* line 107, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
    .page-footer .footer-nav a.facebook {
      display: none; }
  /* line 112, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .page-footer .footer-copyright a.facebook {
    text-indent: -99999px;
    background: url(../images/icon-24-facebook.png) center no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    opacity: 0.6; }
    /* line 119, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
    .page-footer .footer-copyright a.facebook:hover {
      transition: opacity 0.4s;
      opacity: 0.8; }

/* line 126, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.claim {
  color: white;
  background: #263238;
  padding: 1rem 0 2rem 0;
  margin-top: -0.4em; }

/* line 133, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.claim-section .btn {
  margin-top: -27%; }
  /* line 135, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .claim-section .btn:hover {
    background: #a50821 !important; }

/* line 141, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.news-section {
  padding: 4rem 0; }

/* line 144, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.secondary-page {
  margin-bottom: 8rem; }
  /* line 147, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .secondary-page h5 {
    margin-top: 2rem; }
  /* line 150, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .secondary-page .page-header {
    margin-top: 3rem; }
  /* line 154, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .secondary-page .page-main figure {
    width: 100%;
    margin-left: 0;
    padding: 0;
    height: 22rem;
    overflow: hidden; }
  /* line 162, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .secondary-page blockquote {
    border-left: 5px solid #BD0926;
    margin-top: 0; }
  /* line 166, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .secondary-page .aside-nav {
    position: fixed;
    width: 20%; }
  /* line 170, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .secondary-page .collection-item.avatar.valign-wrapper {
    height: 65px; }
  /* line 174, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .secondary-page .candidatos .circle {
    border: 2px solid #BD0926 !important;
    color: #BD0926 !important;
    background: transparent !important;
    line-height: 2.5rem !important;
    font-style: normal !important; }

/* secondary-page */
/* line 185, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.actualidad article {
  margin-bottom: 6rem; }
  /* line 187, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .actualidad article figure {
    margin: 0;
    padding: 0;
    max-height: 280px; }
/* line 194, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.actualidad header .title {
  font-weight: 700;
  line-height: 2.5rem; }
/* line 198, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.actualidad header img {
  border-top: 5px solid #BD0926; }
/* line 201, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
.actualidad header date {
  display: inline-block;
  background: #BD0926;
  color: white;
  padding: 0.2rem 1rem; }

/* actualidad */
/* RESPONSIVE */
@media only screen and (min-width: 993px) {
  /* line 213, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .container {
    width: 90% !important; } }
@media only screen and (max-width: 992px) {
  /* line 219, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
  .page-footer a {
    border-bottom: 1px solid rgba(96, 125, 139, 0.7);
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    padding: 0.45rem 0; }
    /* line 225, /Users/aaromnido/projects/ganarlamuela/source/stylesheets/application.scss */
    .page-footer a.first {
      border-top: 1px solid rgba(96, 125, 139, 0.7); } }
