---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>

            <div class="col s12 l6">
                <!--<%= image_tag 'new-presentacion-candidatura.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>-->
                <h5>Segunda ronda de conversaciones con Partido Popular</h5>
                <date>2 de Junio de 2015</date>
                <p>Comunicamos que el miércoles 3 de junio a las 10:00h tendrá lugar una segunda reunión entre nuestra comisión de contacto y los representantes del Partido Popular a instancia de estos últimos.</p>
            </div>

            <div class="col s12 l6">
                <!--<%= image_tag 'new-mesa-informativa.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>-->
                <h5>Comunicamos condiciones necesarias para iniciar conversaciones con Ganar La Muela</h5>
                <date>28 de Mayo de 2015</date>
                <p>Desde la candidatura de unidad popular <strong>Ganar La Muela</strong>, queremos hacer público el siguiente <strong>comunicado</strong>:</p>
                <p>Desde su creación, esta candidatura ha tenido como <strong>objetivo principal la regeneración democrática de la política municipal y el empoderamiento de la gente</strong>. Este objetivo queda reflejado en numerosas medidas y puntos recogidos en <strong>nuestro programa electoral</strong> y documento de principios éticos. Esto es algo que toda fuerza política que quiera pactar o simplemente dialogar con nosotros deberá tener muy claro.</p>
                <p>Uno de esos puntos hace especial incidencia en el concepto de <strong>transparencia</strong> y por tanto declaramos que <strong>no creemos en los pactos de salón</strong> ni en los mercadeos de puestos y prebendas.</p>
                <p>Por tanto, exponemos públicamente que <strong>estamos totalmente abiertos al diálogo</strong> con todas las fuerzas políticas de este municipio. Pero que dicho dialogo se deberá dar dentro del siguiente <strong>marco de transparencia</strong>:</p>
                <ol>
                    <li><strong>Publicaremos previamente</strong> con quien o que fuerza política nos vamos a reunir.</li>
                    <li><strong>Levantaremos acta</strong> de cada reunión que se mantenga.</li>
                    <li><strong>Las actas serán publicadas</strong> posteriormente.</li>
                    <li><strong>Toda decisión</strong> que se tome a raíz de estas reuniones o contactos <strong>será publicada</strong> de igual modo.</li>
                </ol>
                <p><strong>Portavoz</strong> de la candidatura de unidad popular <strong>Ganar La Muela</strong>:</p>
                <p>Arturo Espada Roda</p>
            </div>

        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->