---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>

            <div class="col s12 l6 post">
                <h5>Reunión informativa sobre la sección del instituto de La Muela</h5>
                <date>Lunes 7 de septiembre de 2015</date>
                <p>El próximo <strong>jueves día 10 de septiembre</strong>, a las <strong>19.00 horas</strong> en la Casa de Cultura, 
                    habrá una REUNIÓN informativa (abierta a todos los padres y todas las madres),
                    en la que participará Fernando Pablo Urbano, Director del Instituto de Educación Secundaria (IES) "Rodanas" de Épila,
                    centro del que depende la Sección que hay en La Muela. El motivo de la reunión será explicar cómo va a ser el funcionamiento,
                    tanto para el alumnado de la Sección, como para alumnado que se desplace a Épila, ante el inicio del Curso 2015-2016</p>
            </div><!-- end post -->

            <div class="col s12 l6 post">
                <h5>Ya está disponible el vídeo del Pleno Extraordinario del 1 de Septiembre</h5>
                <date>Lunes 7 de septiembre de 2015</date>
                <p>
                  <iframe
                    width="100%" height="315" src="https://www.youtube.com/embed/8jSrHJpH2VQ" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>Link al canal Youtube <a href="https://www.youtube.com/channel/UCHR83ICBMBt6RAcHYYEOZKA" target="_blank">La Muela TV</a></p>
            </div><!-- end post -->
        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->
