---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>

            <div class="col s12 l6">
                <h5>Primera semana de gobierno municipal</h5>
                <date>19 de Junio de 2015</date>
                <p>Hoy 19 de Junio queremos comenzar una costumbre, un compromiso con todos los vecinos de La Muela. Cada viernes haremos un resumen del trabajo realizado en nuestro ayuntamiento y, si fuera posible, también comunicaríamos la agenda para la próxima semana si tuviera interés.</p>
                <p>En esta primera semana hemos visitado las obras realizadas en el complejo deportivo y que albergaran la futura sección del instituto. Nos desplazamos los concejales del Ayuntamiento, secretario del Ayto., plataforma de instituto, así como técnicos de educación de DGA. Las conclusiones fueron muy positivas. Las obras van a buen ritmo y con las previsiones de finalización para las fechas establecidas.</p>
                <p>Por otro lado, se ha puesto en contacto con nosotros la gerente de la residencia, proponiendo la colocación de la cocina que estaba en el bar de las piscinas en la residencia para dar servicio a la ampliación de la residencia y de un futuro tanatorio junto a ella, así como poder crear un comedor social allí mismo. <br>Se llevará a estudio y se dará respuesta.</p>
                <p>Otro tema que se trata es la apertura de las piscinas y resto de instalaciones durante los meses de Julio y Agosto, con las siguientes tarifas:</p>
                <ul>
                    <li>Bonos de 33€ para adultos</li>
                    <li>Bonos de 25€ para menores</li>
                    <li>Bonos de 25€ para jubilados</li>
                    <li>Entrada adulto/día 2.40 €</li>
                    <li>Entrada día jubilado/infantil 1€</li>
                </ul>
                <p>Los descuentos seguirán como siempre.<br> El precio del bono es el proporcional del abono anual del centro deportivo, ya que no hay precio establecido.</p>
                <p>En el aspecto puramente político, se hablo de:</p>
                <ul>
                    <li>Nos reunimos, el alcalde y los concejales, en el Ayto., para proponer la organización del las concejalías.</li>
                    <li>Se ofrece a todos los grupos participar llevando concejalías, siendo estas de gestión independiente de cada grupo. <br>Acordamos una semana para contestar.</li>
                    <li>En función de los que entremos a llevar concejalias, se distribuirán las áreas. Se plantea la posibilidad de crear una junta de portavoces que podría sustituir a la junta de gobierno, todo pendiente de los grupos que participen y del informe del secretario al respecto.</li>
                    <li>El concejal de Ciudadanos, da su respuesta en ese instante y acepta entrar en gobierno. </li>
                    <li>El resto responderá en una semana, con excepción del PAR que como manifestó en la investidura no quieren llevar nada.</li>
                    <li>Jaime del PSOE pregunta sí van a retirar la acusación particular del ayuntamiento en la Operación Molinos, siendo rotunda la contestación "NO". También pregunta por la RPT, y Pedro le confirma que por supuesto que va a mantenerse y que se modificaran algunas cosas.</li>
                    <li>Adrian comenta que se están dando los primeros pasos para la auditoria y que nos irán informando. Se ha solicitado un informe de todos los juicios y sentencias pendientes para hacerlo publico y que se nos entregará a todos.</li>
                    <li>Y esto es todo por esta semana. Durante la próxima los grupos políticos celebrarán reuniones de partido y en nuestra próxima comunicación esperamos poderles confirma como queda configurado el Gobierno en La Muela.</li>
                    <li>Queremos hacer estas comunicaciones con carácter semanal, los viernes tarde, recién terminada la semana, para que les sirva como breve aperitivo "político" los fines de semana.</li>
                </ul>
                <p>Saludos a todos y feliz fin de semana</p>
                <p><small>Ganar La Muela</small></p>
            </div>

            <div class="col s12 l6">
                <h5>Mañana sábado 13 de junio, arranca la nueva legislatura en La Muela con su pleno constituyente</h5>
                <date>12 de Junio de 2015</date>
                <p>El pasado día 24 de Mayo, La Muela me pareció un pueblo distinto al que conocía. Nunca habia visto tanta gente en la calle, en sus plazas.</p>
                <p>El clima ayudó y sus vecinos se echaron a la calle a celebrar el acto central de toda Democracia, su presentación ante las urnas, dando forma a sus ilusiones mediante el acto de votar.</p>
                <p>Dias antes, personas de buena voluntad se habían postulado para el gobierno de su pueblo y les trasmitieron sus deseos y esperanzas, sus formulas para lograr un pueblo mejor.</p>
                <p>Los candidatos hicieron su trabajo, en paz y cierta armonía. Y los vecinos de La Muela, cumplieron con el suyo, depositaron su voto y con el sus preferencias para un próximo gobierno.</p>
                <p>Fue, en resumen, una gran fiesta. El gran escaparate de la Democracia. Cuando salia del colegio electoral, las 23:55, con las copias de las actas, estaba cansado pero contento. La Muela había expresado claramente sus deseos, y no me cabe duda que estos deseos eran sinceros y honestos.</p>
                <p>Desde ese día hasta hoy, los candidatos electos se han reunido y hablado, tratando de configurar el gobierno que La Muela desea. De esas conversaciones saldrá un gobierno que gustará mas a unos que a otros, pero que será legitimo y elegido por sus convecinos. Nadie podrá quejarse, ni tampoco sentirse engañado. Todas las fuerzas políticas que se presentaron obtuvieron representación, y una en el gobierno y las otras en la oposición, tengan por seguro, que harán un gran trabajo, por que nadie será excluido y su voz será escuchada siempre.</p>
                <p>Estoy seguro, además, que el pueblo de La Muela va a seguir esta legislatura con interés y participación. En todo momento estará informado de los asuntos de interés local, incluso consultado en especiales ocasiones.</p>
                <p><strong>Mañana, día 13 de Junio a las 10:30 horas en el Salón del Ayuntamiento</strong>, todo este trabajo quedara plasmado en la elección de Alcalde y gobierno. No se cierra el proceso, se abre una nueva fase y a ella queremos invitar, desde GANAR LA MUELA, a todos los vecinos que quieran acompañarnos en tan solemne acto.</p>
                <p>Lo que verán solemnemente representado es su decisión, introducida en las urnas el pasado 24, y pueden estar seguros de que no se han equivocado. Con el tiempo se lo demostraremos.</p>
                <p>Aunque han ido teniendo noticias de nuestras conversaciones, les aseguramos que no hay nada pactado, salvo lo que conocen, por lo que pudieran darse sorpresas. Tal vez San Antonio nos tienda su mano y logre un milagro. Es una ironía, no soy creyente, bueno sí, creo en las personas de buena voluntad y habrá unas cuantas.</p>
                <p>Lo que si podemos asegurar desde GANAR LA MUELA, es que desde mañana el Ayuntamiento será la casa de todos, abierta a todos y transparente como nunca lo fue en este siglo.</p>
                <p>Saludos a todos,</p>
                <p><small>GANAR LA MUELA</small></p>
            </div>

        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->