---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>
            <div class="col s12 l6">
                <%= image_tag 'new-mesa-informativa.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                <h5>Mesas informativas</h5>
                <date>10 de Mayo de 2015</date>
                <p>Durante la mañana del domingo 10 se ha desarrollado la mesa informativa mediante la cual hemos podido hacer conocer nuestro programa y nuestras propuestas a todo aquel vecino que por allí se ha acercado</p>
                <p><strong>Procederemos a desarrollar actos similares los días 17 y 22.</strong></p>
            </div>
            <div class="col s12 l6">
                <%= image_tag 'new-comienza-pegada-carteles.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                <h5>Arranque de campaña</h5>
                <date>6 de Mayo de 2015</date>
                <p>Ayer jueves, a las 12:00 de la noche, arrancaba la campaña electoral en La Muela.</p>
                <p>Por este motivo, varios compañeros se prestaron a participar de la <strong>fiesta de pegada de carteles</strong>, como suele ser habitual.</p>
                <p>Cabe destacar el <strong>buen ambiente y la ilusión</strong> que se respiraba</p>
            </div>
        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->