---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>

            <div class="col s12 l6 post">
                <h5>Exposición de fotos antiguas de la muela</h5>
                <date>Miércoles 7 de Octubre de 2015</date>
                <p>La comisión de fiestas os necesita:</p>
                <a href="https://lamuelapositiva.files.wordpress.com/2015/10/cartel-exposicic3b3n-de-fotos-antiguas-de-la-muela.jpg" target="_blank">
                    <img src="https://lamuelapositiva.files.wordpress.com/2015/10/cartel-exposicic3b3n-de-fotos-antiguas-de-la-muela.jpg" alt="Exposición de fotos antiguas de la muela" style="width: 100%; max-width: 460px"/>
                </a>
            </div><!-- end post -->

            <div class="col s12 l6 post">
                <h5>Ya está disponible el vídeo del Pleno Ordinario del 29 de Septiembre</h5>
                <date>Martes 29 de Septiembre de 2015</date>
                <p>
                  <iframe
                    width="100%" height="315" src="https://www.youtube.com/embed/N1gfbVgOS6o" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>Aquí tenéis en tres vídeos, la grabación del Pleno Ordinario del Ayuntamiento de La Muela, que tuvo lugar este martes día 29 (antes no se grababan los plenos). En el Canal de La Muela TV, se pueden ver los vídeos de las sesiones plenarias...</p>
                <p>Link al canal Youtube <a href="https://www.youtube.com/channel/UCHR83ICBMBt6RAcHYYEOZKA" target="_blank">La Muela TV</a></p>
            </div><!-- end post -->
        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->
