---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>

            <div class="col s12 l6">
                <%= image_tag 'new-presentacion-candidatura.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                <h5>Presentación de Ganar La Muela</h5>
                <date>11 de Mayo de 2015</date>
                <p>El viernes 15 de mayo se presenta nos presentamos ante todos los vecinos como candidatura municipal. Lugar: Salón de actos del Ayuntamiento.</p>
            </div>

            <div class="col s12 l6">
                <%= image_tag 'new-mesa-informativa.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                <h5>Calendario de campaña organizado para los próximos días</h5>
                <date>12 de Mayo de 2015</date>
                <ul>
                    <li><strong>Día 13</strong>, de 16:30 a 20:00h - mesa informativa</li>
                    <li><strong>Día 15</strong>, a la 17:30h - Presentación de Ganar La Muela en el Salón de actos del Ayuntamiento</li>
                    <li><strong>Día 17</strong>, a las 11:00h y a las 14:00h - Mesas informativas en la Plaza del Corazon de Jesús</li>
                    <li><strong>Dia 19</strong>, a las 16:30h y a las 20:00h - Mesas informativas Frente a La Tahona</li>
                    <li><strong>Día 22</strong>, a las 18:00h y a las 21:00h - Mesas informativas y fin de campaña en la Plaza del Corazon de Jesús</li>
                </ul>
            </div>

        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->