---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>

            <div class="col s12 l6 post">
                <h5>Convocado pleno Municipal Extraordinario martes 01/SEP/2015 a las 20:00h</h5>
                <date>Martes 1 de septiembre de 2015</date>
                <p>Mañana martes 1 de septiembre, en nuestro ayuntamiento se celebre un pleno extraordinario a las 20:00 de la tarde.</p>
                <p>El orden del día es el siguiente:</p>
                <ol>
                  <li>Pronunciamiento sobre el carácter urgente de la sesión.</li>
                  <li>Aprobación inicial Expte. modificación de créditos núm. 3/2015. Gestiona: 908/2015</li>
                  <li>Aprobación de la anulación de la retención de créditos realizada con fecha 29/04/2015 para la aprobación de la RPT. Gestiona: 74/2015</li>
                </ol>
            </div><!-- end post -->

            <div class="col s12 l6 post">
                <h5>La Muela TV se estrena con el vídeo del Pleno del jueves 27/08/15</h5>
                <p>El área de Informática y Transparencia del Ayuntamiento de La Muela ha creado un canal en Youtube llamado "La Muela TV".</p>
                <p>En el se irán colgando tanto plenos y actos políticos como vídeos de otro tipo de actos de interes para los vecinos y vecinas de La Muela</p>
                <p>Y para ello no estrenamos con los vídeos del Pleno Ordinario del pasado jueves 27</p>
                <p>Esperamos que sea de vuestro interés:</p>
                <p>
                  <iframe
                    width="560" height="315" src="https://www.youtube.com/embed/_BJLu3RNyck?list=PLWPtNkZTPY0y6n6pYONw-tqBg699nEpmH" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>Link al canal Youtube <a href="https://www.youtube.com/channel/UCHR83ICBMBt6RAcHYYEOZKA" target="_blank">La Muela TV</a></p>
            </div><!-- end post -->

        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->
