---
title: Ganar La Muela - Transparencia
---

<section class="secondary-page">
    <div class="container transparencia">
        <div class="row">

            <div class="col s12 page-header">
                <h3>Transparencia</h3>
            </div>

            <main class="page-main">
                <div class="col s12">
                    <figure>
                        <img  class="responsive-img" src="images/transparencia.jpg">
                    </figure>
                    <p><strong>Ganar La Muela</strong>, en cumplimiento de lo estipulado en nuestro documento ético, procede a exponer públicamente la declaración de la Renta del ejercicio 2014 de nuestros cargos públicos, para poder comparar su evoluión en los siguientes ejercicios en los que dichas personas ostenten cargo publico.</p>

                    <h4>ARTURO ESPADA / DECLARACIÓN DE RENTA 2014</h4>
                    <figure>
                        <img src="images/renta-2014-arturo-espada.png" width="659" height="363">
                    </figure>
                </div>

            </main>

        </div>
    </div><!-- claim -->
</section>


